
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --bg-color: #121212;
  --text-color-primary: whitesmoke;
  --text-color-secondary: #B3B3B3;
  --highlight-color: #1DB954;
  --highlight-hover-color: #1ed760;
  --card-bg-color: #1e1e1e;
  --html-color: #E34F26;
  --css-color: #1572B6;
  --js-color: #F7DF1E;
  --java-color: #007396;
}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-primary);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48ZmlsdGVyIGlkPSJuYW1lIj48ZmVUdXJidWxlbmNlIHR5cGU9InR1cmJ1bGVuY2UiIGJhc2VGcmVxdWVuY3k9IjAuOCIgbnVtT2N0YXZlcz0iNCIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJibGFjayIgZmlsdGVyPSJ1cmwoI25hbWUpIi8+PC9zdmc+");
    opacity: 0.05;
    pointer-events: none;
    z-index: -1;
}

.header {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}

.info {
    padding-top: 2.5rem;
}
.info h1 {
    font-size: 3em;
    margin-top: 0;

}

.subtitle {
    font-size: 1.5em;
    color: var(--highlight-color);
    font-weight: bold;
}


.photo {
    position: relative; 
    width: 350px;
    height: 350px; 
    margin: 0 auto;
}


.profile-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


.single-logo-ai {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: contain;
    top: 80px;
    right: 25px;
    border-radius: 10px;
    z-index: 2;
}
.single-logo-java {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: contain;
    top: 20px;
    left: 60px;
    border-radius: 10px;
    z-index: 2;
}

.single-logo-ps {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: contain;
    top: 8px;
    right: 50px;
    border-radius: 10px;
    z-index: 2;
}

.single-logo-html {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: contain;
    top: 200px;
    left: 10px;
    border-radius: 10px;
    z-index: -1;
}

.single-logo-css {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: contain;
    top: 140px;
    left: 15px;
    border-radius: 10px;
    z-index: 2;
}

.single-logo-js {
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: contain;
    top: 83px;
    left: 50px;
    border-radius: 10px;
    z-index: 2;
}

.single-logo-figma {
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: contain;
    top: 140px;
    right: 10px;
    border-radius: 10px;
    z-index: -1;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.single-logo-ai,
.single-logo-ps,
.single-logo-js,
.single-logo-figma,
.single-logo-html,
.single-logo-css,
.single-logo-java {

    animation: float 3s ease-in-out infinite alternate;
}



.sobre-mim {
    margin: 20px 0;
    font-size: 1.1em;
    color: var(--text-color-secondary);
    line-height: 1.6;
    margin-top: 1rem;
    max-width: 600px;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: -2.5rem;
}

.filtros-area {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}

.projetos-area {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

}
.projeto p {
    padding: 0 1rem 1rem 1rem;
    color: var(--text-color-secondary);
    font-size: 0.9em;
    line-height: 1.4;
    flex-grow: 1;
}

.projeto h3 {
    font-size: 1.1em;
    margin-bottom: 0.5rem;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text-color-primary);
    background-color: var(--card-bg-color);
    border-radius: 5px;
    width: 250px;
    min-height: 290px;
    max-height: 290px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.tecnologias {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;

}

.tecnologias button {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 50px;
    margin-top: -5px;
}

button.html {
    background-color: var(--html-color);
    color: white;

}
button.css {
    background-color: var(--css-color);
    color: white;
}
button.js {
    background-color: var(--js-color);
    color: black;
}
button.java {
    background-color: var(--java-color);
    color: white;
}

.projeto img {

    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    border-radius: 5px;

}

.projeto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color: rgb(12, 12, 12);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #1ed760;
    transform: scale(1.05);
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px 50px 20px;
}

footer {
    background-color: var(--card-bg-color);
    text-align: center;
    padding: 40px 0;
    color: var(--text-color-secondary);
    margin-top: 2rem;
    border-top: 1px solid #333;
    min-height: 200px;
}

footer p {
    
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.6;
    color: var(--text-color-primary);
}
#habilidades, #projetos, #footer {
    h2 {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em; 
    white-space: nowrap; 
}
}

h2::before,
h2::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #B3B3B3;
    margin: 0 10px;
}

#ferramentas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-around;
}

#habilidades li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
}

.coluna h3 {

    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--highlight-color);
    text-align: center;
}

#habilidades ul li {
  display: flex;
  align-items: center;
}

#habilidades ul li i {
  margin-right: 10px;
  font-size: 1.2em;
}

#habilidades img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}



@media (max-width: 576px) {
  body {
    font-size: 15px;
  }

.header {
        flex-direction: column;
    }

    .projeto {
        width: 100%;
        min-height: 350px;
    }
}


@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}